<ion-content>
  <ion-list>
    <ion-item>
      <ion-textarea auto-grow="true" [disabled]="true">
        {{ticket}} 
      </ion-textarea>
    </ion-item>
    <ion-item>
      <ion-textarea auto-grow="true" [disabled]="true">
        {{pubKey}} 
      </ion-textarea>
    </ion-item>
    <ion-item>
      <ion-textarea auto-grow="true" [disabled]="true">
        {{privKey}} 
      </ion-textarea>
    </ion-item>
    <ion-item (click)="dismiss()">
      Close
    </ion-item>
  </ion-list>
</ion-content>