<!-- <ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      Websocket Chat
    </ion-title>
  </ion-toolbar>
</ion-header>

  <ion-content padding>
    <button ion-button full (click)="test()" >Start Websocket Client</button>
  </ion-content> -->


<ion-header>
  <ion-toolbar>
    <ion-title>
      Ionic 5 Form
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="auth-form">
  <ion-grid>
    <ion-row>
      <ion-col align-self-center>
        <ion-button (click)="test()" [routerLink]="['/testing']" expand="block" color="primary">Register</ion-button>

        <span class="divider line one-line">or</span>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>